body {
	background: #f39c12; 
}
table {
	transform: translateY(5%);
	padding: 20px;
}
button {
	background-color: #d35400;
	font-size: 50px;
	border: solid black 3px;
	width: 150px;
	height: 150px;
	margin: 5px;
}
		
img {
	width: 100px;
	height: 100px;
} 

button:hover {
	background-color: #e67e22;
}
form {
	background-color: #e74c3c;
	border-radius: 10px;
	color: white;
	width: 700px;
	height: 340px;
	text-align: center;
	padding: 5px;
	margin: 25px;
	position: absolute;
	transform: translate(80%, -130%);
}
h2 {
	font-size: 28px;
}
p {
	font-size: 20px;
	font-family: "Staatliches";
	text-align: right;
	margin-right: 10px;
	color: #353b48;
}
.punoi {
	border: solid 3px black;
	padding: 10px;
	background-color: #fbc531;	
}
input {
	padding: 5px; 
	margin: 10px;
	font-family: "Bookman";
	font-size: 20px;
}
#question {
	width: 380px;
}


#a {
	width: 100px;
	height: 100px;
	visibility: visible;
}
#back1 {
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: hidden;
	background-size: contain;
}
#b {
	width: 100px;
	height: 100px;
	visibility: visible;
}
#back2 {
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: hidden;
	background-size: contain;
}
#c {
	width: 100px;
	height: 100px;
	visibility: visible;
}
#back3 {
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: hidden;
	background-size: contain;
}
#d {
	width: 100px;
	height: 100px;
	visibility: visible;
}
#back4 {
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: hidden;
	background-size: contain;
}
#e {
	width: 100px;
	height: 100px;
	visibility: visible;
}
#back5 {
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: hidden;
	background-size: contain;
}
#f {
	width: 100px;
	height: 100px;
	visibility: visible;
}
#back6 {
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: hidden;
	background-size: contain;
}
#g {
	width: 100px;
	height: 100px;
	visibility: visible;
}
#back7 {
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: hidden;
	background-size: contain;
}
#h {
	width: 100px;
	height: 100px;
	visibility: visible;
}
#back8 {
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: hidden;
	background-size: contain;
}
#i {
	width: 100px;
	height: 100px;
	visibility: visible;
}
#back9 {
	width: 100px;
	height: 100px;
	position: absolute;
	visibility: hidden;
	background-size: contain;
}
